.my-location-button,
.geocode-button {
  margin-top: 20px;
  margin-right: 30px;
}

.my-location-button,
.geocode-button {
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: #dc143c;
  color: #ffff;
  box-shadow: #ffffff0d 0 0 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  margin-right: 15px;
}

.my-location-button:hover,
.geocode-button:hover {
  letter-spacing: 3px;
  box-shadow: #ffff 0px 7px 29px 0px;
}

.my-location-button:active,
.geocode-button:active {
  letter-spacing: 3px;
  box-shadow: #fff 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.input-destination {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-right: 30px;
  font-size: 16px;
  width: 300px;
}

.input-destination:focus {
  outline: none;
  border-color: #dc143c;
  box-shadow: 0 0 5px #dc143c;
}